body{
   margin:0;
}
a{
   text-decoration: none;
   color:black;
}

/* nevBar container ..... */
 #nevBarContainer{ 
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     background-color: white;
     border:2px solid rgb(211, 209, 209);
 }
 
 #nevBarContainer>div:nth-child(1){
     display:flex;
     width:40%;
     align-items: center;
     justify-content: space-around;
 }
 
 #nevBarContainer>div:nth-child(2){
     display:flex;
     width:40%;
     align-items: center;
     justify-content: space-around;
  
 }
 
 #nevBarContainer>div:nth-child(1)>a>img{
    width:80%;
 }
 
 #nevBarContainer>div:nth-child(1)>h3{
    margin-left:-30%;
 }
 
 #nevBarContainer>div:nth-child(2)>img{
    width:15%;
 }
 
 #nevBarContainer>div:nth-child(2)>h3,span{
    margin-right:-60%;
 }
 

 /* TO STICKY THE TOP SECTION */
    .sticky{
     position: fixed;
     top: 0;
     left: 0;
      z-index: 999;
     width: 100%;
     overflow: hidden;
 } 
 

 /* first div after nevbar */
 #first-Div{
   background-color: rgb(22, 22, 22);
   text-align:center;
   /* width:50%;
   margin:auto; */
   z-index:5;
   padding:10px;
   color:white;
   display: flex;
   justify-content: center;
   margin-top:120px;
}

#first-Div>button{
   padding: 0px 25px;
   border-radius: 25px 25px;
   background-color: rgb(252, 21, 21);
   color:white;
   font-size: 20px;
   margin-left:20px;
   /* position: relative; */
   /* left: 10px; */
}

/* After first div */
#bodyContainer{
   display:flex;
   margin-right:10px;
}

/* Side Menu all the things */
#sideMenu{
   height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 230px;
  left: 40px;
  background-color: white;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
   line-height: 40px;
   padding-left:30px;
}


/* Main Div beside Side Menu */
#main{

   height:100%;
   width:100%;
   padding:2px;
   margin-left: 350px;
   margin-right: 70px;
}


/* search bar inside the main Div */

#search{
   margin-top:5%;
   margin-bottom:5%;
}

#search>input{
   padding:10px 20px;
   padding-left: 40px;
   margin-left:30px;
   margin-bottom:10px;
   border-radius: 25px;
      background-color: white;
      background-position: 10px 10px;

}

#search>hr{
   font-weight: bolder;
   text-decoration: black;
}


/* all image div container */
.main-inside>div:nth-child(n)>img{
   width:100%;
}
#contDiv{
   width:auto;
   height:auto;
}
.main-inside{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:30px;
}










